################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/opencvTry/v15/Browse.VC.opendb
/.vs/opencvTry/v15
/.vs/opencvTry/v15/ipch/AutoPCH/OPENCVTRY-80ecbd6f/TRY-c8b03bdb/TRY.ipch
/.vs/opencvTry/v15/ipch/AutoPCH/OPENCVTRY-80ecbd6f/TRY-c8b03bdb/TRY.ipch
/.vs/opencvTry/v15/ipch/AutoPCH/OPENCVTRY-80ecbd6f/TRY-c8b03bdb
/.vs/opencvTry/v15/ipch/AutoPCH/OPENCVTRY-80ecbd6f/TRY-c8b03bdb/TRY.ipch
/.vs/opencvTry/v15/.suo
